
.dch-datepicker-table {
    background: #FEFEFE;
    box-shadow: -2px 0px 4px rgba(203, 203, 203, 0.1), 0px -2px 4px rgba(203, 203, 203, 0.1), 2px 0px 4px rgba(203, 203, 203, 0.1), 0px 2px 4px rgba(203, 203, 203, 0.1);
    border-radius: 5px;
    min-width: 230px;
    width: 250px;
    margin-top: 5px;
    z-index: 9999;
}

    .dch-datepicker-table .bch-datepicker-header-info {
        display: flex;
        justify-content: space-between;
        padding: 9px 15px;
        border-bottom: 1px solid #F7F7F7;
    }

        .dch-datepicker-table .bch-datepicker-header-info .selected-month-year {
            display: flex;
            align-items: center;
            padding-top: 5px;
        }

            .dch-datepicker-table .bch-datepicker-header-info .selected-month-year label:hover,
            .dch-datepicker-table .bch-datepicker-header-info .selected-month-year:hover {
                cursor: pointer;
            }

            .dch-datepicker-table .bch-datepicker-header-info .selected-month-year .bch-datepicker-year,
            .dch-datepicker-table .bch-datepicker-header-info .selected-month-year .bch-datepicker-month {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #131212;
            }

            .dch-datepicker-table .bch-datepicker-header-info .selected-month-year .bch-datepicker-year {
                padding-left: 5px;
            }

            .dch-datepicker-table .bch-datepicker-header-info .selected-month-year img {
                margin-left: 5px;
                height: 11px;
                width: 14px;
            }

        .dch-datepicker-table .bch-datepicker-header-info .change-month {
            display: flex;
            text-align: center;
            align-items: center;
        }

            .dch-datepicker-table .bch-datepicker-header-info .change-month .next-month,
            .dch-datepicker-table .bch-datepicker-header-info .change-month .previous-month {
                /*margin-right: 20px;*/
                width: 26px;
                height: 26px;
            }

                .dch-datepicker-table .bch-datepicker-header-info .change-month .next-month:hover,
                .dch-datepicker-table .bch-datepicker-header-info .change-month .previous-month:hover {
                    background: #E1F4E9;
                    /*border: 1px solid #33B469;*/
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.2s;
                }

    .dch-datepicker-table .bch-datepicker-days {
        display: flex;
    }

        .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table {
            border-spacing: 0 3px !important;
        }

            .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table .bch-name-week-day {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 32px;
                color: #5A5959;
                opacity: 0.7;
                text-align: center;
            }

            .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td {
                padding: 0;
            }

                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td .bch-item-day {
                    width: 30px;
                    height: 31px;
                    margin: auto;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 32px;
                    text-align: center;
                    color: #131212;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td .bch-item-day > label {
                        /*     vertical-align: middle;
                    padding-top: 2px;*/
                    }

                        .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td .bch-item-day > label:hover {
                            cursor: pointer;
                        }

                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td .bch-selected-day {
                    background: #33B469;
                    border-radius: 5px;
                    color: #FFFFFF !important;
                }

                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.bch-start-selected-day {
                    background: #33B469;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    color: #FFFFFF !important;
                }
                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.bch-end-selected-day label,
                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.bch-start-selected-day label {
                    color: #FFFFFF !important;
                }

                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.bch-end-selected-day .bch-item-day:hover,
                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.bch-start-selected-day .bch-item-day:hover {
                        background: none !important;
                    }

                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.bch-end-selected-day {
                        background: #33B469;
                        color: #FFFFFF !important;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td .bch-item-day:not(.bch-selected-day):not(.bch-start-selected-day):not(.bch-end-selected-day):hover,
                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table .bch-datepicker-other-day:not(.bch-selected-day):not(.bch-start-selected-day):not(.bch-end-selected-day):hover {
                    background: #E1F4E9;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.2s;
                    color: #131212 !important;
                }

                .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.rang-dates {
                    background: #E1F4E9;
                    /*color: #7F4CF8 !important;*/
                }

                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.rang-dates:first-child{
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td.rang-dates:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table tbody > tr > td .bch-item-day.rang-dates:hover {
                        background: #F1EEFA !important;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.2s;
                        color: #5B5B5B !important;
                    }

        .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table {
            border-collapse: inherit;
            flex: 1 1;
            padding: 10px 9px;
        }

            .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table .bch-datepicker-number-day {
                font-weight: 300;
                font-size: 14px;
                line-height: 15px;
                color: #2E2E2E;
            }

            .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table .bch-datepicker-other-day {
                color: #BEBEBE !important;
            }

            .dch-datepicker-table .bch-datepicker-days .bch-datepicker-table .current-day {
                border: 1px solid #33B469;
                border-radius: 5px;
                /*font-family: 'Inter';*/
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                line-height: 21px;
                color: #33B469 !important;
            }

    .dch-datepicker-table .bch-apply-button {
        text-align: end;
        padding-right: 10px;
        padding-bottom: 10px;
    }

        .dch-datepicker-table .bch-apply-button button {
            background: #33B469;
            border: 1px solid transparent;
            border-radius: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
            width: 89px;
            height: 32px;
        }

            .dch-datepicker-table .bch-apply-button button:hover {
                border: 1px solid #33B469;
                color: #33B469;
                background: #ffffff;
                transition: 0.2s;
            }
