.bch-table-head-container {
    display: flex;
    flex-direction: column;
}

    .bch-table-head-container .head-name {
        background: #F9FAFC;
        height: 54px;
        border-bottom: 1px solid #E9EAEC;
        display: flex;
        align-items: center;
        padding: 0 12px 0 12px;
    }

        .bch-table-head-container .head-name .bch-sort-checkbox{
            margin-right: 8px;
        }

        .bch-table-head-container .head-name > .title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #515358;
        }

    .bch-table-head-container .head-filtering {
        height: 70px;
        align-items: center;
        display: flex;
        padding: 0 12px 0 12px;
    }

        .bch-table-head-container .head-filtering .bch-input-text,
        .bch-table-head-container .head-filtering .bch-input-number {
            background: #FFFFFF;
            border: 1px solid #E9EAEC;
            border-radius: 10px;
            height: 40px;
            width: 100%;
            background: url("img/table/search.svg") no-repeat;
            background-position: 5%;
            padding-left: 35px;
        }

            .bch-table-head-container .head-filtering .bch-input-text::placeholder,
            .bch-table-head-container .head-filtering .bch-input-number::placeholder {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 32px;
                color: #555555;
            }

        .bch-table-head-container .head-filtering .bch-select-data {
            width: 100%;
            border: 1px solid #E9EAEC;
            border-radius: 10px;
            height: 40px;
            padding-left: 17px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url("img/table/arrow-bottom.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 17px) center;
        }

        .bch-table-head-container .head-filtering .bch-input-text:focus,
        .bch-table-head-container .head-filtering .bch-input-number:focus,
        .bch-table-head-container .head-filtering .bch-select-data:focus{
            outline: none;
        }
