
.bch-tab-element {
    height: 34px;
    display: flex;
    transition: min-width 0.25s;
}

    .bch-tab-element.bch-first-drag {
        transition: none !important;
    }

    .bch-tab-element .bch-wrapper {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #ABABAB;
        position: relative;
        border-radius: 5px 5px 0px 0px;
    }

    .bch-tab-element.bch-hovered {
        /*min-width: 320px !important;*/
    }

    .bch-tab-element > .bch-before,
    .bch-tab-element > .bch-after {
        visibility: collapse;
    }

    .bch-tab-element > .bch-before,
    .bch-tab-element > .bch-after {
        height: 100%;
        display: block;
        width: 100%;
        max-width: 0;
        transition: max-width 0.25s;
    }

    .bch-tab-element.bch-first-drag > .bch-before,
    .bch-tab-element.bch-first-drag > .bch-after {
        transition: none;
    }

    .bch-tab-element.bch-dragging,
    .bch-tab-element.bch-dragging > div,
    .bch-tab-element.bch-dragging > div > span {
        display: none;
    }



    .bch-tab-element > .bch-wrapper > .bch-name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F8F8F8;
    }

    .bch-tab-element.bch-selected > .bch-wrapper {
        background: #F8F8F8;
    }

        .bch-tab-element.bch-selected > .bch-wrapper > .bch-name {
            color: #2D73B8;
        }

    .bch-tab-element > .bch-wrapper > .bch-bottom-line {
        display: none;
    }

        .bch-tab-element.bch-selected > .bch-wrapper > .bch-bottom-line {
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #86B7E8;
        }

    .bch-tab-element > .bch-wrapper > .bch-icon {
        display: flex;
        width: fit-content;
        height: fit-content;
    }

    .bch-tab-element > .bch-wrapper > .bch-close {
        display: flex;
        width: fit-content;
        height: fit-content;
        transition: 0.2s all ease;
    }

        .bch-tab-element > .bch-wrapper > .bch-close:hover {
            transform: scale(1.2);
        }