.bch-calendar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background: #FEFEFE;
    border-radius: 15px;
    filter: drop-shadow(0px -2.2507px 15.7549px rgba(188, 188, 188, 0.3)) drop-shadow(0px 6.7521px 11.2535px rgba(188, 188, 188, 0.3));
    padding: 0 18px 18px;
}

    .bch-calendar-container .scroll::-webkit-scrollbar {
        width: 18px;
    }

    .bch-calendar-container .scroll::-webkit-scrollbar-track {
        display: flex;
        justify-content: center;
    }

    .bch-calendar-container .scroll::-webkit-scrollbar-corner {
        border-radius: 20px;
    }

    .bch-calendar-container .scroll::-webkit-scrollbar-thumb {
        background: #33B469;
        border: 6px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }

        .bch-calendar-container .scroll::-webkit-scrollbar-thumb:hover {
            background: #33B469aa;
            border: 6px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
        }


    .bch-calendar-container > .bch-dateline {
        width: 100%;
        height: 56px;
        display: flex;
        padding-right: 18px;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        position: relative;
    }

        .bch-calendar-container > .bch-dateline > .scroll-btn {
            position: absolute;
            top: 0;
            width: 40px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .bch-calendar-container > .bch-dateline > .scroll-btn > span {
                display: block;
                height: 19.37px;
                width: 9.68px;
                opacity: 0.3;
                transition: all 0.2s ease;
                cursor: pointer;
            }

                .bch-calendar-container > .bch-dateline > .scroll-btn > span:hover {
                    opacity: 1.0;
                }

            .bch-calendar-container > .bch-dateline > .scroll-btn.left {
                left: 72px;
            }

                .bch-calendar-container > .bch-dateline > .scroll-btn.left > span {
                    background: url(img/scheduler/left-scroll-btn.svg) center no-repeat;
                }

            .bch-calendar-container > .bch-dateline > .scroll-btn.right {
                right: 18px;
            }

                .bch-calendar-container > .bch-dateline > .scroll-btn.right > span {
                    background: url(img/scheduler/right-scroll-btn.svg) center no-repeat;
                }

        .bch-calendar-container > .bch-dateline > .bch-corner {
            width: 72px;
            height: 100%;
            border-right: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
        }

        .bch-calendar-container > .bch-dateline > .dates-holder {
            width: calc(100% - 72px);
            position: relative;
            overflow: hidden;
            will-change: transform;
        }

            .bch-calendar-container > .bch-dateline > .dates-holder > .bch-scroller {
                position: absolute;
                /*left: 0;*/
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                transition: all 1.0s ease;
            }

                .bch-calendar-container > .bch-dateline > .dates-holder > .bch-scroller > .date {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: calc(100% / 7);
                    height: 100%;
                    border-right: 1px solid #eeeeee;
                    position: absolute;
                    /*left: 0;*/
                    top: 0;
                }

                    .bch-calendar-container > .bch-dateline > .dates-holder > .bch-scroller > .date > .day {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 17px;
                        color: #5B5B5B;
                        opacity: 0.8;
                    }

                    .bch-calendar-container > .bch-dateline > .dates-holder > .bch-scroller > .date > .month {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: #5B5B5B;
                    }


    .bch-calendar-container > .calendar-data {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        flex: 1 1;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
    }

        .bch-calendar-container > .calendar-data > .bch-scroller {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
        }

            .bch-calendar-container > .calendar-data > .bch-scroller > .timeline {
                width: 72px;
                border-right: 1px solid #eeeeee;
                border-left: 1px solid #eeeeee;
            }

                .bch-calendar-container > .calendar-data > .bch-scroller > .timeline > .hour {
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid #eeeeee;
                }

                    .bch-calendar-container > .calendar-data > .bch-scroller > .timeline > .hour:last-child {
                        border-bottom: none;
                    }

                    .bch-calendar-container > .calendar-data > .bch-scroller > .timeline > .hour > .time {
                        height: 100%;
                        width: 72px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .bch-calendar-container > .calendar-data > .bch-scroller > .timeline > .hour > .time > .text {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 17px;
                            color: #5B5B5B;
                            opacity: 0.8;
                        }

            .bch-calendar-container > .calendar-data > .bch-scroller > .calendar {
                width: 100%;
                flex: 1 1;
                position: relative;
                overflow: hidden;
            }

                .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transition: all 1.0s ease;
                }

                    .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller > .delimiter-horizontal {
                        position: absolute;
                        /*left: 0;*/
                        width: 300%;
                        border-bottom: 1px solid #eeeeee;
                    }

                    .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller > .delimiter-vertical {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        border-right: 1px solid #eeeeee;
                    }

                    .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller > .appointment {
                        position: absolute;
                    }

                        .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller > .appointment > .appointment-content {
                            cursor: pointer;
                            transition: all 1.0s ease;
                            display: flex;
                        }

                            .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller > .appointment > .appointment-content > .bch-border {
                                width: 3px;
                                height: 100%;
                            }

                            .bch-calendar-container > .calendar-data > .bch-scroller > .calendar > .bch-scroller > .appointment > .appointment-content > .bch-template {
                                flex: 1 1;
                                height: 100%;
                            }

    .bch-calendar-container > .bch-date-picker {
        /*width: calc(100% - 18px);*/
        /*margin-right: 18px;*/
        width: 100%;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: right;
        border-bottom: 1px solid #eeeeee;
        padding-left: 4px;
    }

    .bch-calendar-container > .bch-date-picker > .today-btn {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #5A5959;
        margin-left: 24px;
        margin-right: 2px;
        cursor: pointer;
    }