@page "/"

<div style="height:400px; display: flex; flex-direction: column;">
    <a href="/table"> Table link</a>
    <a href="/datepicker"> Datepicker link</a>
    <a href="/select"> Select link</a>
    <a href="/tabs"> Tabs link</a>
    <a href="/scheduler"> Scheduler link</a>
    <a href="/carousel"> Carousel link</a>
    <a href="/radio-buttons"> Radio-Buttons link</a>
    <a href="/modal"> Modal</a>
    <a href="/zoom"> Zoom</a>
    <a href="/cropper"> Cropper</a>
    <a href="/image-cropper"> Cropper Image</a>
    <a href="/test"> Test</a>
    <a href="/slider"> Slider</a>
    <a href="/expanded-menu"> Expanded Menu</a>
    <a href="/toggle"> Toggle</a>
    <a href="/range"> Range</a>
</div>


