.bch-expand-menu:not(:nth-child(1)) {
    border-top: 1px solid #E8E8E8;
}

    .bch-expand-menu .head-block {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
        align-items: center;
        padding: 0 32px;
    }

        .bch-expand-menu .head-block.selected {
            background: #E1F4E9;
        }

        .bch-expand-menu .head-block .title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #2D2D2D;
        }

        .bch-expand-menu .head-block.selected > .title {
            color: #33B469 !important;
        }

.bch-expand-menu .description > .desc-text > div{
    padding: 32px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
}

.bch-expand-menu .description.hided {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.2s all;
}

.bch-expand-menu .description.opened {
    opacity: 1;
    transition: max-height 0.2s linear;
    overflow: hidden;
}
