.bch-image-cropper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FEFEFE;
    border-radius: 22px;
    filter: drop-shadow(0px 0px 8px rgba(32, 32, 32, 0.03)) drop-shadow(0px 4px 13px rgba(32, 32, 32, 0.05));
}

    .bch-image-cropper-container > .bch-cropper-container {
        width: calc(100% - 40px);
        flex: 1 1;
        
        margin-left: 20px;
        margin-top: 20px;
    }

        .bch-image-cropper-container.bch-mobile > .bch-cropper-container {
            margin-top: 10px;
        }
    
    .bch-image-cropper-container > .bch-control-container {
        width: calc(100% - 40px);
        height: 160px;

        margin-top: 20px;
        margin-left: 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*gap: 30px;*/
    }

        .bch-image-cropper-container > .bch-control-container > .bch-first-line {
            width: 100%;
            height: 50px;
            display: flex;
        }

        .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right,
        .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-left {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-left {
            gap: 16px;
            flex: 0 1;
        }

            .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-left > .bch-rotate-btn {
                height: 38px;
                background: #FFFFFF;
                filter: drop-shadow(0px 0px 8px rgba(32, 32, 32, 0.03)) drop-shadow(0px 4px 13px rgba(32, 32, 32, 0.05));
                border-radius: 4px;
                display: flex;
                align-items: center;
                padding-right: 24px;
                padding-left: 14px;
                cursor: pointer;
            }

                .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-left > .bch-rotate-btn > .bch-text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;
                    color: #2B2D2F;
                    white-space: nowrap;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-left > .bch-rotate-btn > .bch-icon {
                    background: url(img/cropper/rotate-icon.svg) center no-repeat;
                    width: 28px;
                    height: 28px;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-left > .bch-rotate-btn.bch-right > .bch-icon {
                    transform: scaleX(-1);
                }

        .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-left: 37px;
        }

            .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right > .images,
            .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right > .range {
                width: 100%;
            }

            .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right > .images {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }

                .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right > .images > .icon-small {
                    background: url(img/cropper/small-scale-icon.svg) center no-repeat;
                    width: 18px;
                    height: 18px;
                    margin-left: 4px;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-first-line > .bch-right > .images > .icon-big {
                    background: url(img/cropper/big-scale-icon.svg) center no-repeat;
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                }

    .bch-image-cropper-container > .bch-control-container > .bch-second-line {
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
    }

        .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks {
            height: 100%;
            display: flex;
            gap: 10px;
        }

            .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block {
                width: 64px;
                height: 100%;
                border-radius: 4px;
                background: #FFFFFF;
                filter: drop-shadow(0px 4px 8px rgba(183, 183, 183, 0.2));
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                cursor: pointer;
            }

                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block > .bch-rect {
                    border: 2px solid #33B469;
                    border-radius: 2px;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block:nth-child(1) > .bch-rect {
                    width: 20px;
                    height: 20px;
                    margin-bottom: 10px;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block:nth-child(2) > .bch-rect {
                    width: 20px;
                    height: 25px;
                    margin-bottom: 7px;
                }
                
                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block:nth-child(3) > .bch-rect {
                    width: 25px;
                    height: 20px;
                    margin-bottom: 10px;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block:nth-child(4) > .bch-rect {
                    width: 32px;
                    height: 20px;
                    margin-bottom: 10px;
                }

                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-scale-blocks > .bch-block > .bch-text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #545454;
                    margin-bottom: 11px;
                }
    
        .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-controls {
            flex: 1 1;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            gap: 16px;
        }
    
            .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-controls > .bch-btn {
                max-width: 154px;
                width: 100%;
                height: 44px;
                border-radius: 8px;
                font-family: 'Roboto';
                font-style: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
    
                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-controls > .bch-btn.bch-cancel {
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    color: rgba(19, 18, 18, 0.7);
                }
    
                .bch-image-cropper-container > .bch-control-container > .bch-second-line > .bch-controls > .bch-btn.bch-save {
                    background: #33B469;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: #FFFFFF;
                }

    .bch-image-cropper-container > .bch-controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
        
        .bch-image-cropper-container > .bch-controls > .bch-btn {
            max-width: 115px;
            width: 100%;
            height: 34px;
            border-radius: 8px;
            font-family: 'Roboto';
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        
            .bch-image-cropper-container > .bch-controls > .bch-btn.bch-cancel {
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: rgba(19, 18, 18, 0.7);
            }
            
            .bch-image-cropper-container > .bch-controls > .bch-btn.bch-save {
                background: #33B469;
                font-weight: 500;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
            }


    .bch-image-cropper-container.bch-mobile > .bch-control-container {
        height: 205px;
    }
    
        .bch-image-cropper-container.bch-mobile > .bch-control-container > .bch-first-line {
            flex-direction: column;
            height: unset;
            gap: 10px;
        } 
            
            .bch-image-cropper-container.bch-mobile > .bch-control-container > .bch-first-line > .bch-right {
                margin-left: 10px;
                margin-right: 10px;
            }

            .bch-image-cropper-container.bch-mobile > .bch-control-container > .bch-first-line > .bch-left {
                justify-content: space-between;
            }

        .bch-image-cropper-container.bch-mobile > .bch-control-container > .bch-second-line {
            justify-content: center;
        } 