
.page-cnt {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

    .page-cnt .test-page-container {
        display: flex;
        height: calc(100% - 32px);
        width: calc(100% - 32px);
        margin: 16px;
        background: #FFFFFF;
    }

        .page-cnt .test-page-container > .tab-panel {
            height: 100%;
            width: calc(50% - 20px);
            margin: 0 10px;
            display: flex;
            flex-direction: column;
        }

            .page-cnt .test-page-container > .tab-panel > .tabs {
                width: 100%;
                flex: 0 1;
                margin-top: 5px;
            }

            .page-cnt .test-page-container > .tab-panel > .content {
                width: 100%;
                flex: 1 1;
                display: flex;
                padding: 0;
                margin: 0;
                margin-bottom: 16px;
                border-radius: 0 0 20px 20px;
            }


.custom-tab {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
