@page "/tabs"

<div class="page-cnt">

    <BCHTabContext TabContext="_context">

        <div class="test-page-container">
            <div class="tab-panel">
                <div class="tabs">
                    <BCHTabPanel TabContext="_context"
                               PanelId="0"
                               MinimalTabsCount="1"
                               ScrollTabWidth="100"
                               SelectOnDragAndDrop="true"
                               ScrollToCenterOnClick="true" />
                </div>
                <div class="content">
                    <BCHTabContent TabContext="_context"
                                 PanelId="0">
                        <Template Context="selectedTab">

                            @if (selectedTab is {Type: "additional-content" })
                            {
                                <TestContentComponent Text="text" />
                            }
                            else
                            {
                                @selectedTab.Name
                            }

                        </Template>
                    </BCHTabContent>
                </div>
            </div>

            <div class="tab-panel">
                <div class="tabs">
                    <BCHTabPanel TabContext="_context"
                               PanelId="1"
                               MinimalTabsCount="1"
                               ScrollTabWidth="150"
                               SelectOnDragAndDrop="false"
                               ScrollToCenterOnClick="true" />
                </div>
                <div class="content">
                    <BCHTabContent TabContext="_context"
                                 PanelId="1">
                        <Template Context="selectedTab">

                            @if (selectedTab is {Type: "additional-content" })
                            {
                                <TestContentComponent Text="text" />
                            }
                            else
                            {
                                @selectedTab.Name
                            }

                        </Template>
                    </BCHTabContent>
                </div>
            </div>

        </div>

    </BCHTabContext>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>