@page "/image-cropper"

<div class="page-cnt">
    <BCHImageCropper 
        BackgroundColor="#eeeeee"
        IsMobile="true"
        Base64Image="img/slider-test-image.svg"/>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>