@page "/slider"
<div class="page-cnt">

    <div class="slider">
        <BCHSlider TItem="string"
                   Items="_items"
                   RenderItemCount="3"
                   CircularScroll="false"
                   ShowCircleButtons="true"
                   ButtonsAboveContent="true"
                   CircleButtonsAboveContent="true">
            <ItemTemplate Context="item">
                <div class="item-cnt" style="@($"background: url({item}) center no-repeat;")"></div>
            </ItemTemplate>
        </BCHSlider>
    </div>

    <div class="slider">
        <BCHSlider TItem="string"
                   Items="_items"
                   RenderItemCount="1"
                   CircularScroll="false"
                   ShowCircleButtons="true"
                   ButtonsAboveContent="true">
            <ItemTemplate Context="item">
                <div class="item-cnt" style="@($"background: url({item}) center no-repeat;")"></div>
            </ItemTemplate>
        </BCHSlider>
    </div>

    <div class="slider">
        <BCHSlider TItem="string"
                   Items="_items"
                   RenderItemCount="3"
                   CircularScroll="true"
                   ShowCircleButtons="false"
                   ButtonsAboveContent="false">
            <ItemTemplate Context="item">
                <div class="item-cnt" style="@($"background: url({item}) center no-repeat;")"></div>
            </ItemTemplate>
        </BCHSlider>
    </div>

</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>


@*<div class="slider-page">
    <div class="conteudo">
        <div class="carrousel">
            <article class="card">
                <h1>HTML</h1>
            </article>
            <article class="card">
                <h1>CSS</h1>
            </article>
            <article class="card">
                <h1>JS</h1>
            </article>
            <article class="card">
                <h1>React JS</h1>
            </article>
            <article class="card">
                <h1>GIT</h1>
            </article>
            <article class="card">
                <h1>LÓGICA</h1>
            </article>
            <article class="card">
                <h1>SEGUE NA BASE!</h1>
            </article>
        </div>
    </div>
</div>*@