.bch-datepicker-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.bch-datepicker {
    max-width: 250px;
    width: 100%;
    background-color: #FEFEFE;
    box-shadow: 1px 0px 3px rgba(203, 203, 203, 0.25), 0px 1px 3px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    border: none;
    height: 48px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
}

    .bch-datepicker .bch-datepicker-input {
        border: none;
        outline: none;
        background: transparent;
        color: #131212;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        font-family: "Roboto";
        width: calc(100% - 20px);
    }

    .bch-datepicker .bch-datepicker-img {
        width: 20px;
    }

    .bch-datepicker .bch-datepicker-input:hover,
    .bch-datepicker .bch-datepicker-input:focus,
    .bch-datepicker .bch-datepicker-input:focus-within,
    .bch-datepicker .bch-datepicker-input:focus-visible {
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
    }

    .bch-datepicker .bch-datepicker-img {
        cursor: pointer;
    }
