.bch-tab-content {
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    /*border: 0.5px solid red;*/
}

    .bch-tab-content.bch-dragging {
        position: absolute;
        pointer-events: none;
        z-index: 100000;
    }

    .bch-tab-content > .bch-tab {
        visibility: collapse;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }

    .bch-tab-content.bch-dragging > .bch-tab {
        visibility: visible;
    }
